@use '../../variables';

.left-panel {
  background-color: variables.$yellow;
  width: 40%;
  padding: variables.$panel-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  @media (max-width: variables.$breakpoint-tablet) {
    width: 100%;
    padding: 6rem 0;
  }

  .face {
    width: 14rem;
    height: 14rem;
    padding: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: variables.$charcoal-grey;
  }

  p {
    font-size: 1.5rem;
    padding: 1rem;
    color: variables.$charcoal-grey;
  }

  .arrow-button {
    background-color: variables.$charcoal-grey;
    display: block;
    border-radius: 5rem;
    padding: 1.2rem;
    margin: 1rem;
    cursor: pointer;

    @media (max-width: variables.$breakpoint-tablet) {
      transform: rotate(90deg);
    }

    &.left {
      transform: rotate(180deg);

      @media (max-width: variables.$breakpoint-tablet) {
        transform: rotate(270deg);
      }
    }
  }
}
