// Colours
$yellow: #ffd300;
$tangerine: #ff9200;
$cloudy-blue: #cad7dd;
$blue-green: #49c8a8;
$pale-grey: #f5f8f9;
$white: #ffffff;
$charcoal-grey: #373d40;

// Dimensions
$panel-padding: 6rem 5rem 5rem 5rem;

// Breakpoints
$breakpoint-phone-small: 320px;
$breakpoint-phone-medium: 375px;
$breakpoint-phone-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1920px;
